<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello H2O</title>
    <link rel="stylesheet" href="../../node_modules/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../style.css">
  </head>
  <body ng-app="ContactsApp" ng-controller="ContactsCtrl">
    <div id="contact-list">
      <ul>
        <li ng-click="changeView('detail')" ng-repeat="contact in contacts">
        {{contact.name}}
        </li>
      </ul>

    </div>

    <div ng-view id="detail">
    </div>

    <script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="../detail/detail.js"></script>
    <script type="text/javascript" src="../list/list.js"></script>
    <script type="text/javascript" src="../edit/edit.js"></script>

  </body>
</html>